---
PointerAlignment: Left
UseTab: ForContinuationAndIndentation
IndentWidth: 4
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: BinPack
SeparateDefinitionBlocks: Always
BreakBeforeBraces: Attach
SpacesInLineCommentPrefix:
  Maximum: 0
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
#AlignAfterOpenBracket: DontAlign
